:root {
  --color-framing: rgb(116, 77, 168);
  --color-counter: rgb(244, 220, 42);
  --color-accident: rgb(238, 180, 23);
  --color-object: rgb(73, 194, 25);
  --color-agency: rgb(31, 179, 224);
  --color-focus: rgb(214, 81, 41);
  
  --highlight-framing: rgba(116, 77, 168, 0.2);
  --highlight-counter: rgba(244, 220, 42, 0.2);
  --highlight-accident: rgba(238, 180, 23, 0.2);
  --highlight-object: rgba(73, 194, 25, 0.2);
  --highlight-agency: rgba(31, 179, 224, 0.2);
  --highlight-focus: rgba(214, 81, 41, 0.2);
}

/* Apply an "external" icon next to any external link
Reference: https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/ */
a[href]:not([href^="https://visionzeroreporting.com"]):not([href^="#"]):not([href^="mailto:"]):not([href^="/"]):not([class="navbar-item"]):not([class="no-external"])::after {
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

a {
  color: hsl(217, 71%, 53%);
  border-bottom: 1px dashed hsl(217, 72%, 42%);
}
a.navbar-item, nav a {
  border-bottom: none;
}

.card {
  margin-bottom: 20px;
  box-shadow: none !important;
  border: 1px SOLID #ddd;
}

.content ul { margin-top: 0; }

footer.page {
  border-top: 1px SOLID #ddd;
  font-size: 90%;
}
footer.page ol {
  padding: 0px 15px;
}

/* Hotfix for vue2-input-highlighter@1.1.0 */
div[contenteditable="false"] { height: 100% !important; }

span.problem {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

span.FRAMING {
  background-color: var(--highlight-framing) !important;
  border-bottom-color: var(--color-framing) !important;
}

span.COUNTER {
  background-color: var(--highlight-counter) !important;
  border-bottom-color: var(--color-counter) !important;
}

span.ACCIDENT {
  background-color: var(--highlight-accident) !important;
  border-bottom-color: var(--color-accident) !important;
}

span.OBJECT {
  background-color: var(--highlight-object) !important;
  border-bottom-color: var(--color-object) !important;
}

span.AGENCY {
  background-color: var(--highlight-agency) !important;
  border-bottom-color: var(--color-agency) !important;
}

span.FOCUS {
  background-color: var(--highlight-focus) !important;
  border-bottom-color: var(--color-focus) !important;
}
